body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
    background-size: contain;
    background-repeat: repeat-y;
    background-color: #232357;
}

/*Header Navbar*/
.navbar-custom {
    padding: 20px 0 12px 0;
    width: 100%;
    border-radius: 0;
    z-index: 30;
    margin-bottom: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #140000;
    -webkit-box-shadow:  0 1px 3px #fa9419;
    box-shadow: 0 1px 3px #fa9419;
}

.nav-sticky.navbar-custom {
  background-color: rgba(30,18,49,.8);
}

.navbar-collapse  {
  justify-content: center;
}

  /* Menu */
    .navbar-custom .navbar-nav li a {
      color: #dcb81f;
      font-weight: 1000;
    }

    .navbar-custom .navbar-nav li.active a, 
    .navbar-custom .navbar-nav li a:active, 
    .navbar-custom .navbar-nav li a:hover{
      color: #ffa712 !important;
    }

    .navbar-custom .navbar-nav li a:hover{
      /* border-bottom: 1px solid #ffa712; */
    }

    .navbar-custom .navbar-nav li.active a:hover{
      border: none;
    }

    li.nav-item.active {
      box-sizing: border-box;
      border: 2px solid #fa9419;
      border-radius: 3px;
      /* transform: skewX(-6deg); */
    }
  /* End Menu */

/*End Header*/



/*Section Start*/
.scroll-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.scroll-container section {
  width: 100%;
  height: 100%;
  /*min-height: 100vh;*/
}

.bg-back {
    height: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.txt-title {
   font-size: 32px;
    line-height: 56px;
    font-family: "PT Sans Caption", sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: rgb(23 175 255 / 49%) 0px 0px 6px;
    position: relative;
    font-weight: 700;
}
/*Section End*/

/* Section Home */
.home-section {
  background-image: url(../images/background/bg1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  background-position: center;
}

.home-section::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: url(../images/logo/sadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.logo-center {
  display: flex;
}

.logo-center .logo-content {
  width: 25%;
  z-index: 10;
}

.logo-center .light {
  position: absolute;
  top: 5%;
  width: 40%;
}

.person {
  position: absolute;
  z-index: 1;
}

.img-person {
  height: 25em;
}

.jocker {
  left: 23%;
  top: 30%;
}

.singer {
  right: 14%;
  top: 30%;
}

.oldman {
  left: 0;
  top: 38%;
  z-index: 5;
}

.youngboy {
  right: 0;
  top: 38%;
  z-index: 5;
}

.caption {
  bottom: 0;
  left: 5%;
  z-index: 10;
}

.nurse {
  bottom: 0;
  right: 5%;
  z-index: 10;
}

.sologan {
  position: absolute;
    top: 70%;
    left: 33%;
    z-index: 20;
}

.mobile-icon {
  position: absolute;
  left: 36%;
  bottom: 10%;
  display: flex;
  z-index: 20;
  text-align: center;
}

.mobile-item {
  display: flex;
  justify-content: center;
  width: 12em;
  height: auto;
}

.mobile-item img {
  width: 80%;
}

.box-download {
  position: absolute;
  bottom: 10%;
  left: 0;
  display: grid;
    vertical-align: middle;
    width: 100%;
    height: auto;
    justify-content: center;
    z-index: 20;
}

.box-content {
  position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn-download {
    display: flex;
    justify-content: center;
}

  /* Shadow */
  .bg-shadow {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    z-index: 15;
  }
  /* End Shadow */


 
/* End section Home */

/*Iframe yt Start*/
.youtube {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.youtube iframe, .youtube object, .youtube embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
/*End Iframe yt*/

/*Gamplay Start*/
.gameplay-section {
  background-image: url(../images/gameplay/gameplay.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}

.gameplay-section::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: url(../images/logo/sadow.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.gameplay-iframe {
  position: relative;
  background-image: url(../images/gameplay/iframe.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.gameplay-iframe img{
  z-index: 0;
}

.gameplay-content {
  /* position: absolute;
    top: 28%;
    left: 30%; */
}

.webgl-content {
  width: 800px;
  height: 420px;
  background-color: black;
}

#gameContainer {
  width: 100%;
  height: auto;
}

.ladies {
  position: absolute;
  left: 0;
  bottom: 0;
}

.ladies img,
.docter-strange img {
  width: 80%;
  height: auto;
}

.docter-strange {
  display: flex;
  justify-content: right;
  position: absolute;
  right: 0;
  bottom: 0;
}


/*Gameplay End*/

/* NFT Start */
.nft-section {
  height: 100%;
  background-image: url(../images/nft/nft_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nft-section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background-image: url(../images/logo/sadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info {
  padding-top: 10%;
  width: 100%;
  height: 100%;
  background: url(../images/nft/info.png) no-repeat center;
  background-size: contain;
}

.info-head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 100%;
  background: url(../images/nft/title.png) no-repeat center;
  background-size: contain;
}

.info-head h5{
  margin-top: -6%;
  font-size: 20px;
  line-height: 56px;
  font-family: "PT Sans Caption", sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: rgb(23 175 255 / 49%) 0px 0px 6px;
  position: relative;
  font-weight: 700;
}

.info-body {
  height: 50%;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.carousel-nft-wrap {
  width: 1000px;
  margin: auto;
  position: relative;
}

.carousel-nft-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX( -50%);
    height: 100%;
    width: 100vw;
    background-image: url(../images/nft/owl_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nft-carousel {
  padding: 20px 0;
}

.nft-carousel .owl-nav{
  overflow: hidden;
  height: 0px;
  display: block !important;
}

.nft-carousel.owl-theme .owl-dots .owl-dot.active span, 
.nft-carousel.owl-theme .owl-dots .owl-dot:hover span {
  background: #2caae1;
}

.nft-carousel .item {
  text-align: center;
  padding: 10px 16px 15px 10px;
}

.nft-carousel .nav-btn{
  height: 80px;
  position: absolute;
  width: 80px;
  cursor: pointer;
  top: 160px !important;
}

.nft-carousel .owl-prev.disabled,
.nft-carousel .owl-next.disabled{
  pointer-events: none;
  opacity: 0.2;
}

.nft-carousel .prev-slide{
  background: url(../images/nft/arr-left.png);
  background-repeat: no-repeat;
  background-size: contain;
  left: -100px;
}

.nft-carousel .next-slide{
  background: url(../images/nft/arr_right.png);
  background-repeat: no-repeat;
  background-size: contain;
  right: -100px;
}

/* .nft-carousel .owl-item.active.first::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/nft/border_card.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */

.nft-carousel .owl-item.active.first {
  width: 100%;
  height: 100%;
  background-image: url(../images/nft/border_card.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 100;
}


/* END NFT */


/*Roadmap Start*/
.roadmap-section {
    background: url(../images/roadmap/bg_roadmap.png) no-repeat center;
    background-size: cover;
}

.roadmap-section::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/roadmap/rocket.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
 
.road-map-holder {
  transform: none;
  margin: auto;
  position: relative
}

.road-map-bar {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  margin: auto;
}

.road-map-content {
  color: #fff;
  font-size: 12px;
  width: 100%;
}

.road-map-content span {
  font-size: 1em;
  color: #f29d0b;
}

.road-map-time {
  font-weight: 1000;
  font-size: 1.2em;
  color: #f29d0b;
}

.road-map-partation {
  margin-right: 20px;
}

.road-map-bar .list-item {
  display: flex;
  flex-wrap: wrap;
  transform: skewY(-17deg);
  position: absolute;
  top: 15em;
  left: -5em;
  width: 100%;
  height: auto;
}

.list-item .road {
  position: absolute;
  padding: 10px 10px 60px 15px;
  background: url(../images/roadmap/mark.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: skewY(17deg) translateY(35px);
}

/* Roadmap End*/

/* Team Start */
  .team-section {
    background-image: url(../images/team/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .team-section::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url(../images/logo/sadow.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }

  .team-board::before {
    position: absolute;
    content: "";
    top: 2%;
    left: 13%;
    width: 100%;
    height: 91%;
    background-image: url(../images/team/board.png);
    background-repeat: no-repeat;
    background-size: contain;
  } 

  .team-header .txt-title {
    padding: 0.3em;
    background: url(../images/team/btn_core.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
  }
  .team-carousel .owl-nav{
    overflow: hidden;
    height: 0px;
    display: block !important;
  }

  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #2caae1;
  }

  .team-carousel .item {
    text-align: center;
  }

  .team-carousel .nav-btn{
    height: 80px;
    position: absolute;
    width: 50px;
    cursor: pointer;
    top: 180px !important;
  }

  .team-carousel .owl-prev.disabled,
  .team-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: 0.2;
  }

  .team-carousel .prev-slide{
    background: url(../images/team/arrow-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: -60px;
  }

  .team-carousel .next-slide{
    background: url(../images/team/arrow-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    right: -60px;
  }

  span.img-text {
    color: white;
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
  }
 
.team-carousel .item {
    padding: 10px;
}

.team-carousel .item .role {
    top: 3px;
    left: -3px;
    position: absolute;
    width: 25%;
    height: 25%;
    background: url(../images/team/role.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.role-text {
  margin-top: 30px;
}

.team-carousel .item  .img-item {
  margin-top: 20px;
}
 
.team-carousel .item .item-content {
  padding: 10px;
  background: url(../images/team/item_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* End Team */


/* Partner Start */
.partner-section {
  background-image: url(../images/partner/partner_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.partner-section::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url(../images/partner/shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.partner-board {
  position: relative;
  background-image: url(../images/partner/board.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.partner-board img{
  width: 100%;
}

.partner-title {
  position: absolute;
  margin-left: 27%;
  margin-top: 7.5%;
}


/* End Partner */

/* Token Start */
.token-section {
  background-image: url(../images/token/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.token-section::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: url(../images/logo/sadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.token-box {
  position: relative;
  background-image: url(../images/token/board.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
}

.token-board {
  width: 50%;
}

.msm-head {
  margin-top: 10%;
}

.msm-title.txt-title {
  padding: 0;
  margin: 0;
  text-align: left !important;
}

.msm-coin {
  text-align: center;
}
.msm-coin img {
  width: 80%;
}

.art-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.art-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* End Token */

/*Social Start*/
.social-btn-group {
    position: fixed;
    bottom: 1%;
    right: 0;
    width: 50px;
    background-color: rgba(0,0,0,.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    padding: 10px 0 10px 2px;
    z-index: 999;
}

.social-btn-group a {
    width: 35px;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.social-btn-group a img {
    width: 100%;
    height: auto;
    margin: 7px 5px;
}
/*Social End*/
