/* 
// 15.Footer
*/

.footer {
    padding: 100px 0;
    // background-color: #140000;
    // background-color: rgba(30,18,49,.8);
    background-color: #090715;
    .footer-logo a {
        display: flex;
        justify-content: center;
    }
    .footer-logo a img {
        width: 50%;
        height: auto;
    }
    .logo-light {
        display: $display-light;
    }
    .logo-dark {
        display: $display-dark;
    }
    .footer-desc,
    .footer-alt {
        color: $light;
    }
    .footer-list-title {
        color: $light;
    }
    .footer-icons {
        color: rgba($light, 0.5);
        transition: all 0.3s;
        a {
            color: rgba($light, 0.5);
            &:hover {
                color: $light;
            }
        }
    }
    .company-sub-menu {
        li {
            padding: 13px 0;
            a {
                transition: all 0.5s;
                color: $light;
                &:hover {
                    color: $light !important;
                }
            }
        }
    }

    .list-social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    .list-social li {
        list-style: none;
    }
    
    .list-social li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 50px;
        width: 50px;
    }
    
    .list-social li a img {
      width: auto!important;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
    
    .box-img-flex img {
        width: auto!important;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
    
    .copyright,
    .community {
      text-align: center;
    }
}